@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.background {
    background-image: url(./images/7087359.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.homeback {
    background-image: url(./images/Wintergreen.jfif);
    background-repeat: no-repeat;
    background-size: contain;
    height: min-content;
}

#menu-toggle:checked + #menu {
    display: block;
}

video {
    /* border: 10px black solid; */
    filter: blur(7px);
    margin-top: 8px;
}

.about {
    position: relative;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caaron {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-texture {
    background-image: url(./images/sincerely-media-UWdTDa1Z9DM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 92.8vh;
}

.donationimg {
    background-image: url(./images/donate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 92.8vh;
}

.heading {
    font-family: "Century Gothic";
}

.password-icon {
    cursor: pointer;
    max-height: 3px;
}

body {
    margin: 0px;
    font-family: "Poppins";
    /* font-size: 22px; */
}

.nav {
    height: 60px;
    width: 100%;
    position: relative;
    background-color: rgba(158, 72, 72, 0.058);
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width: 600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}
